/* General styling for the page */

@import url('https://fonts.googleapis.com/css2?family=Orbitron&family=Prompt:wght@200&display=swap');

h1 {
    font-family: 'Orbitron', sans-serif;
    text-align: center;
}

body {
    font-family: 'Prompt', sans-serif;
}

body > p {
    width: 350px;
    text-align: center;
    margin: auto;
}

a {
    text-decoration: none;
    color: black;
}

/* Choose area styling */

#button-container {
    display: flex;
    justify-content: center;
    margin: auto;
}

#start-button {
    margin: 5px;
    display: inline-block;
}

#rule-button {
    margin: 5px;
    display: inline-block;
}

#choose-area, #game-area, #score-area {
    display: flex;
    justify-content: center;
    margin: 20px 0 20px 0;
}

.selection {
    text-align: center;
    margin: 0;
}

#rock {
    background: url(/assets/images/Rock.png) no-repeat center center;
    height: 160px;
    width: 160px;
    margin: 5px;
    border: none;
}

#rock:hover {
    border-radius: 80px;
    border: 5px solid #7F3333;
}

#paper {
    background: url(/assets/images/Paper.png) no-repeat center center;
    height: 160px;
    width: 160px;
    margin: 5px;
    border: none;
}

#paper:hover {
    border-radius: 80px;
    border: 5px solid #f49536;
}

#scissors {
    background: url(/assets/images/Scissors.png) no-repeat center center;
    height: 160px;
    width: 160px;
    margin: 5px;
    border: none;
}

#scissors:hover {
    border-radius: 80px;
    border: 5px solid #16537E;
}

#lizard {
    background: url(/assets/images/Lizard.png) no-repeat center center;
    height: 160px;
    width: 160px;
    margin: 5px;
    border: none;
}

#lizard:hover {
    border-radius: 80px;
    border: 5px solid #38761D;
}

#spock {
    background: url(/assets/images/Spock.png) no-repeat center center;
    height: 160px;
    width: 160px;
    margin: 5px;
    border: none;
}

#spock:hover {
    border-radius: 80px;
    border: 5px solid #6FA8DC;
}

/* Game area syling */

#game-area > div {
    height: 160px;
    width: 160px;
    text-align: center;
}

#player-image {
    border: 2px solid black;
    border-radius: 80px;
}

#computer-image {
    border: 2px solid black;
    border-radius: 80px;
}

/* Score counter styling */

.score {
    margin: 0 5px 0 20px;
}






#rules {
    background: url(/assets/images/game_rules.png) no-repeat center center;
    height: 600px;
}