@import url('https://fonts.googleapis.com/css2?family=Orbitron&family=Prompt:wght@200&display=swap');

h1 {
    font-family: 'Orbitron', sans-serif;
    text-align: center;
}

body {
    font-family: 'Prompt', sans-serif;
}

p {
    width: 600px;
    margin: auto;
}

#rules {
    background: url(/assets/images/game_rules.png) no-repeat center center;
    height: 600px;
}

#choose-area {
    display: flex;
    justify-content: center;
}

#game-area {
    display: flex;
    justify-content: center;
}

#score-area {
    display: flex;
    justify-content: center;
}

#rock {
    background: url(/assets/images/Rock.png) no-repeat center center;
    height: 160px;
    width: 160px;
}

#paper {
    background: url(/assets/images/Paper.png) no-repeat center center;
    height: 160px;
    width: 160px;
}

#scissors {
    background: url(/assets/images/Scissors.png) no-repeat center center;
    height: 160px;
    width: 160px;
}

#lizard {
    background: url(/assets/images/Lizard.png) no-repeat center center;
    height: 160px;
    width: 160px;
}

#spock {
        background: url(/assets/images/Spock.png) no-repeat center center;
        height: 160px;
        width: 160px;
}